* {
    box-sizing: border-box;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body {
    background-color: #f7f7f7;
}

// Add your fractal Sass files below!
@import 'common/directive/navbar/navbar';
@import 'common/directive/item/item';
@import 'home/home';
