// a#item{
//   &:active{
//     background-color: yellow;
//   }
// }

// .navbar-inverse .navbar-nav > li > a:active{
//   color:red;
// }
//
$crunchBlue: #52A3CB;

i {
  color: $crunchBlue;
}

.badge {
  background-color: $crunchBlue;
}